<manifest xmlns:android="http://schemas.android.com/apk/res/android"   xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@mipmap/ico_applogo"

        android:roundIcon="@mipmap/ico_applogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
    </application>
</manifest>
