<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ico_applogo"
        android:roundIcon="@mipmap/ico_applogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:replace="android:icon">
        <activity
            android:name=".ui.XieRiJi"
            android:exported="false"
            android:label="@string/title_activity_xie_ri_ji"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".XieBianQian"
            android:exported="false"
            android:label="@string/title_activity_xie_bian_qian"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>